<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <script>
            var func = function(){
                var params = new URLSearchParams();
                params.append('energy', 0.834);
                params.append('music_id', '3wJHCry960drNlAUGrJLmz');
                params.append('music_name', 'ヨルシカ');
                params.append('valence', 0.962);
                params.append('user_id', "jfieifajeifiejf");
                axios.post('/music/favorite/register', params);
            }
        </script>
        <form action="/music/list" method="post">
            <label for="test">artist_name</label>
            <input type="text" name="artist_name">
            <button>検索</button>
        </form>
        <button onclick="func()">お気に入り登録</button>
        <form action="/music/favorite/list" method="post">
            <label for="user_id">user_id</label>
            <input type="text" name="user_id">
            <button>お気に入り一覧</button>
        </form>
        <form action="/music/favorite/delete" method="post">
            <label for="id">id</label>
            <input type="text" name="id">
            <button>お気に入り削除</button>
        </form>
    </body>
</html>
